@model IEnumerable<Book>

@{
    ViewData["Title"] = "ViewRequest";
}

<h1> Booking</h1>
<hr />


<table class="table table-striped">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Driver Name</th>
        <th>Price</th>
        <th>Date</th>
        <th>Status</th>
        <th>Payment Status</th>

    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.From</td>
            <td>@book.To</td>
            <td>@book.DriverName</td>
            <td>@book.Price</td>
            <td>@book.Date</td>
            <td>@book.Status</td>
            <td>@book.Payment</td>

            <td>
                <div class="btn-group ms-auto">
                    <a asp-action="Payment" asp-route-id="@book.Id"  asp-controller="User" asp-area="Users" class="btn btn-primary">Make Payment </a>
                </div>
                   
            </td>
        </tr>
    }

</table>



<div>
    <a asp-action="Index">Back to List</a>
</div>

